$color-black: #000;
$color-blue: #4E60FF;
$color-white: #fff;
$color-red: #FF5C60;
$color-gray: #83859C;
$color-dark: #2B2B43;
$color-dark-light: #545563;
$color-gray-light: #C7C8D2;
$color-cornflower-blue: #6195ED;
$color-athens-gray: #EDEEF2;
$color-titan-white: #F3F4FF;
$color-zircon: #F8F9FF;
$color-orange: #FD6D22;